<!DOCTYPE html>
<html lang="es">
<head th:replace="~{_frag/base::site-head}"></head>
<body>
    <div class="wrapper">
        <header th:replace="~{_frag/base::site-header}"></header>
        <aside th:replace="~{_frag/navbar::m_navbar}"></aside>
        <main>
            <h2 class="titulo-principal" id="titulo-principal">Panel de gestión</h2>
            <p>Bienvenido a Casa Lumbre. Desde el menú puedes gestionar el catálogo, los clientes, los proveedores, los empleados y las compras.</p>
        </main>
    </div>
    <div th:replace="~{_frag/base::site-scripts}"></div>
</body>
</html>
