<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_frag/base::site-head}"></head>
<body class="management-app">
    <div class="wrapper">
        <header th:replace="~{_frag/base::site-header}"></header>
        <aside th:replace="~{_frag/navbar::m_navbar}"></aside>
        <main>
            <h2 class="my-4 text-center">Detalles de la Compra</h2>
            <div class="mb-3">
                <label class="form-label">Proveedor:</label>
                <span th:text="${compra.proveedor.razonSocial}"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Empleado:</label>
                <span th:text="${compra.empleado.nombres}"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Fecha:</label>
                <span th:text="${#dates.format(compra.fecha, 'yyyy-MM-dd HH:mm')}"></span>
            </div>
            <h3 class="my-4" >Productos</h3>
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio Unitario</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="detalle : ${compra.compraDetalles}">
                        <td th:text="${detalle.producto.nombre}">Producto</td>
                        <td th:text="${detalle.precioUnitario}">Precio Unitario</td>
                        <td th:text="${detalle.cantidad}">Cantidad</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between mt-4">
                <a th:href="@{/compra/index}" class="btn btn-secondary" role="button">Regresar</a>
            </div>
        </main>
    </div>
    <div th:replace="~{_frag/base::site-scripts}"></div>
</body>
</html>